.sidebarItem {
  height: 48px;
  display: flex;
}

.sidebarItemSelected {
  height: 48px;
  display: flex;
  color: white;
  background-color: #3f0e40;
}

.content {
  font-size: 14px;
  margin-left: 20px;
  display: flex;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
